.card{
    padding: 20px;
    width: 200px;
    height: 400px;
}
.card img{
    width: 200px;
    height: 250px;
}
.card b{
    display: block;
    margin:10px 50px;
 
}
.card button{
    margin:20px 35px;
}
