.productContainer{
    display: flex;
    justify-content: space-around;
    margin-block: 20px;
}
.item{
    background-color: azure;
}
.item1{
    padding: 20px;
}
.item1 img{
    height: 400px;
    width:350px;

}
.item1 p{
    font-weight: 500;
    color: black;
}
.item button{
    margin-inline: 30%;
}

